*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #FAE9D7;
  text-align: center;
  gap: 128px;
}

.questionText {
  padding-left: 360px;
  padding-right: 360px;
  font-size: 36px;
}

.buttonsSec{
  display: flex;
  gap: 128px;
}

.buttonGroup1{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.buttonGroup2{
  display: flex;
  flex-direction: column;
  gap: 18px
}

.buttonGroup1 > button{
  width: 512px;
  height: 48px;
  background-color: #B9836B;
  border: transparent;
  border-radius: 12px;
  color: #372720;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.buttonGroup2 > button{
  width: 512px;
  height: 48px;
  background-color: #B9836B;
  border: transparent;
  border-radius: 12px;
  color: #372720;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}


